body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana, sans-serif;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

a {
    color: aquamarine;
    font-size: 16px;
}

.second-header {
    font-weight: 300;
    font-size: 42px;
}

.main-text {
    font-size: 21px;
    color: gray;
}

footer {
    text-align: right;
    color: gray;
}

img {
    align-items: center;
}